@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

:root{
  --primary-color: #fff;
  --font-title: " Alfa Slab One";
}

html{
  scroll-behavior: smooth;
}

header {
  height: 100vh;
  position: relative;
  padding-left: 2rem;
  padding-top: 2rem;
  overflow: hidden;
}

/* pseudo-elemento não existe enquanto nao tiver conteudo */
header::before {
  content: "";
  background-image: url("../images/backdrop.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

h1 {
  width: 307px;
  height: 65px;
  flex-shrink: 0;
  color: #fde723;
  text-shadow: 8px 8px 6px rgba(253, 231, 35, 0.44);
  font-family: var(--font-title);
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}


h2 {
  color: var(--primary-color);
  font-family: var(--font-title);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 8.75rem;
  padding-left: 3.56rem;
}

header p{
  max-width: 40%;
}

.texto-sobre{
  position:absolute;
  left: 5rem;
  width: 600px;
  color: var(--primary-color);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align:justify;
}

h3{
  color: black;
  align-items: flex;
  position: relative;
  gap: 1rem;
  
}

#secao{
  background-color: #252739;
}

.botao {
  position: absolute;
  bottom: 13rem;
  left: 38rem;
  padding: 12px 21px;
  text-decoration: none;
  border-radius: 10px;
  background: #fde723;
  color: black;
}


 /* Product Catalog */


  .content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  section .catalog {
    width: 100vw;
    padding: 100px;
  }

  section .filter-card {
    width: 980px;
    height: 150px;
    background: #fde723;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    width: 700px;
    height: 50px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    text-indent: 10px;
  }
  
  .search-button {
    width: 150px;
    height: 50px;
    border-radius: 0px 4px 4px 0px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.2s ease;
  }

  .search-button:hover {
    background: #dedede;
    color: var(--blue);
  }
  
  .title-wrapper-catalog {
    margin-top: 200px;
    padding-bottom: 20px;
  }
  
  section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
  }
  
  section .card-item {
    height: 500px;
    background: grey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .card-item img {
    width: 90%;
    height: 45%;
  }
  
  .card-item h3 {
    width: 90%;
    color: var(--primary-color);
  }
  
  .card-item p {
    width: 90%;
    color: var(--primary-color);
  }
  
  .card-item button {
    width: 90%;
    padding: 15px 0px;
    border: none;
    background: blue;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
  }
  
  .card-item button:hover {
    background: #dedede;
    color: yellow;
  }


#secao img{
  border-radius: 10px;
}



/*secao cadastro*/



#secao-cadastro{
 background-color: #252739;
  height: 100vh;
  padding: 3rem;
}

#form-cadastro{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 1rem;
background-color: #e0dfe4;
max-width: 500px;
border-radius: .5rem;
padding: 2rem;
margin: 2rem auto;
}

.campo{
display: flex;
flex-direction: column;
}

.linha{
grid-column: 1 / 3;
}

input[type="text"],
input[type="tel"],
select{
background-color: #adadbc;
border: 0;
padding: .5rem;
border-radius: .5rem;
outline: none
}
input[type="mail"],
input[type="mensagem"],
select{
  background-color: #adadbc;
  border: 0;
  padding: .5rem;
  border-radius: .5rem;
  outline: none
  }


input:focus{
border: solid 1px #2a1c8a;
}